{% if site.projects %}
	<div id="projectsBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="projects-intro">Project Details</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="projectsBlurb">
				<h2>Period</h2>
					{{site.projects.period}}
				<h2>Duration</h2>
					{{site.projects.duration}}
				<h2>Role</h2>
					{{site.projects.role}}
				<h2>Description</h2>
					{{site.projects.description}}
				<h2>Contributions</h2>
					{{site.projects.contributions}}
			</div>
			<br>
		</div>
	</div>
{% endif %}
