{% if site.patents %}
	<div id="patentsBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="patents-intro">Patents</h1>
		</div>
		<div class="content-rounded-panel">
			{% for patent in site.patents %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row">
					{% endif %}
						<div class="col-lg-6">
							<div id="patentBlurb">
								<h2>{{patent.title}}</h2>
								<h3>Patent ID: </h3>
									<a target='_blank' href="{{patent.link}}"">{{patent.ID}}</a>
								<h3>Abstract: </h3>
									{{patent.abstract}}
							</div>
							</br>					
						</div>
					{% if loopindex == 0 %}
					</div>
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div>
				{% endif %}
		
		</div>
	</div>
{% endif %}
