{% if site.projects %}
	<div id="projectsBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="projects-intro">Project Details</h1>
		</div>
		<div class="content-rounded-panel">
			{% for project in site.projects %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row">
					{% endif %}
						<div class="col-lg-6">
							<div id="projectsBlurb">
								<strong>{{project.period}}</strong></br>
								<strong>{{project.duration}}</strong></br>
								<strong>Industry/Client: {{project.clientType}}</strong></br>
								<strong>Name/Codename: {{project.codename}}</strong></br>
								<Strong>Role: </strong>{{project.role}}</Strong></br>
								<h2>Description</h2>
									{{project.description}}
								<h2>Contributions</h2>
									{{project.contributions}}
							</div>
							<br>					
						</div>
					{% if loopindex == 0 %}
					</div>
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div>
				{% endif %}
		
		</div>
	</div>
{% endif %}
